/* Login Form */
#groupBoxLogin{
    border-radius: 20px;
    background-color: #2b2b2b;
}

#groupBox::title {
    color: #666666;
    subcontrol-origin: margin;
    left: 120px;

}

#label_message{
    color: red;
    font: bold;
    font-family: "Arial Rounded MT Bold";
}

#label_login, #label_password{
    color: #6a6a6a;
    font: bold;
   font-family: "Arial Rounded MT Bold";
}
/* Login Form */


#groupBox_set_dirkeys::title{
    color: #f50808;
    subcontrol-origin: margin;
    left: 95px;
}

QWidget#centralwidget, #Dialog, #DialogSetDirKeys, #tabWidget_preferences, #tab_db_connect, #tab_secure, #tab_services, QTabBar::tab{
    background-color: #2b2b2b;
}




#Dialog, #DialogSetDirKeys, #DialogLogin{
    border: 1px solid #383838;
}


#scrollAreaWidgetContents, #scrollAreaWidgetContents_2{
    background-color: #454545;
    border: none;
}
QScrollArea{

    border: none;
}

QGroupBox{
    border: 1px solid #494949;
    border-radius: 3px;
    color: #494949;
    font: bold;
    margin-top: 6px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 7px;
    padding: 0px 5px 0px 5px;
}

QLabel, QCheckBox{
    color: #6a6a6a;
}
QLineEdit, QComboBox, QTextEdit, QSpinBox{
    background-color: #383838;
    border: none;
    color: #14d704;
}

QLineEdit:disabled, QPushButton:disabled {
    color: #494949;
}


QCheckBox::indicator{
    width: 15px;
    height: 15px;
    background-color: #383838;
    border: none;
}
QCheckBox::indicator:checked {
    image: url('img/checkbox-checked.svg');
}


QComboBox QAbstractItemView {
    color: #14d704;
    border: none;
    selection-color: #068e01;
    selection-background-color: #2b2b2b;
    background-color: #383838;
    outline: none;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #383838;

}
QTabBar::tab{
    color: #068e01;
}


QPushButton, QTabBar::tab:selected, QTabBar::tab:hover{
    background-color: #383838;
    color: #14d704;
}
QPushButton:hover{
    color: #068e01;
    background-color: #2b2b2b;
}

QTreeWidget{
    border: none;
    background-color: #454545;
    color: #14d704;
}
QWidget#widget{
    background-color: #454545;
    border-color: #666666;
}
QPushButton#add_client, QPushButton#edit_server, QPushButton#delete_server{
 background-color: #6a6a6a;
 padding: 15px;
}


